<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Homepage</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <style>
    body{
      text-align: center;
    }
  .mdl_card{
    max-width: 500px;
    text-align: center;
    margin: auto;
  }
  #result{
    text-align: center;
  }
  .mdl-card__supporting-text{
    color: #333;
  }
  </style>
  <body>
    <div class="mdl-grid">
      <h1 class="mdl-cell mdl-cell--12-col">this is a test homepage</h1>
    
      <div id="result" class="mdl-cell mdl-cell--12-col">
        <div class="mdl_card mdl-shadow--4dp">
          <div class="mdl-card__supporting-text">
            <div id="spinner" class="mdl-spinner mdl-js-spinner is-active"></div>
            <div id="info">
              <h4 id="pid">PID STATUS: Loading...</h3>
              <h4 id="sv">SV: Loading...</h3>
              <h4 id="pv">PV: Loading...</h3>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
  <script type="text/javascript">
    info.style.display="none"
    var source = new EventSource("/test-sse-stream");
    source.addEventListener('pid_status', function (event) {
      var data = JSON.parse(event.data);
      console.log(data);
      pid.innerText = "PID STATUS: " + data.pid_running;
      sv.innerText = "SV: " + data.sv;
      pv.innerText = "PV: " + data.pv;
      spinner.style.display="none";
      info.style.display="initial";
    }, false);
  </script>
</html>
